In [24]:
import pandas
import warnings
warnings.filterwarnings('ignore')

In [25]:
data = pandas.read_csv('C:\\Users\\kvanc\\coursera\\files\\titanic.csv', index_col = 'PassengerId')

In [26]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1. Какое количество мужчин и женщин ехало на корабле?

В качестве ответа приведите два числа через пробел.

In [27]:
print('male:', data['Sex'].value_counts()[0], ',', 'female:', data['Sex'].value_counts()[1])

male: 577 , female: 314

## 2. Какой части пассажиров удалось выжить?

Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [28]:
round(data['Survived'].value_counts()[1] / sum(data['Survived'].value_counts()), 2)

0.38

## 3. Какую долю пассажиры первого класса составляли среди всех пассажиров?

Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [29]:
round(data['Pclass'].value_counts()[1] / sum(data['Pclass'].value_counts()), 2)

0.24

## 4. Какого возраста были пассажиры?

Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [30]:
print(round(data['Age'].mean(), 2), round(data['Age'].median(), 2))

29.7 28.0

## 5. Коррелируют ли число братьев/сестер/супругов с числом родителей/детей?

Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [31]:
data1 = data.loc[:, 'SibSp':'Parch']
round(data1.corr()['Parch'][0], 2)

0.41

## 6. Какое самое популярное женское имя на корабле?

Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [32]:
name = []
for name_1 in data['Name']:
    if 'Mrs' in name_1:
        name += [name_1[name_1.find('Mrs.') + 5:]]
    elif 'Miss' in name_1:
        name += [name_1[name_1.find('Miss.') + 5:]]
    elif 'Mr' not in name_1 and 'Master' not in name_1 and 'Major' not in name_1 and 'Dr' not in name_1 and 'Rev' not in name_1:
        print(name_1)

Uruchurtu, Don. Manuel E
Aubart, Mme. Leontine Pauline
Reynaldo, Ms. Encarnacion
Sagesser, Mlle. Emma
Simonius-Blumer, Col. Oberst Alfons
Weir, Col. John
Crosby, Capt. Edward Gifford
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
Reuchlin, Jonkheer. John George

In [33]:
name += ['Emma'] + ['Lucy'] + ['Encarnacion'] + ['Leontine']

In [34]:
names = {}
for i in range(len(name)):
    names[name[i]] = name.count(name[i])

In [35]:
for key, value in names.items():
    if value == max(names.values()):
        print(key)

 Mary