In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
import warnings
warnings.filterwarnings('ignore')
from scipy.sparse import hstack
from sklearn.linear_model import Ridge

## 1. Загрузите данные об описаниях вакансий и соответствующих годовых зарплатах из файла salary-train.csv.

In [2]:
train_data = pd.read_csv('C:\\Users\\kvanc\\coursera\\files\\salary-train.csv')
test_data = pd.read_csv('C:\\Users\\kvanc\\coursera\\files\\salary-test-mini.csv')

In [3]:
train_data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [4]:
test_data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

## 2. Проведите предобработку:

1) Приведите тексты к нижнему регистру (text.lower()).
2) Замените все, кроме букв и цифр, на пробелы — это облегчит дальнейшее разделение текста на слова. Для такой замены в строке text подходит следующий вызов: re.sub('[^a-zA-Z0-9]', ' ', text).
3) Примените TfidfVectorizer для преобразования текстов в векторы признаков. Оставьте только те слова, которые встречаются хотя бы в 5 объектах (параметр min_df у TfidfVectorizer).
4) Замените пропуски в столбцах LocationNormalized и ContractTime на специальную строку 'nan'. Код для этого был приведен выше.
5) Примените DictVectorizer для получения one-hot-кодирования признаков LocationNormalized и ContractTime.
6) Объедините все полученные признаки в одну матрицу "объекты-признаки". Обратите внимание, что матрицы для текстов и категориальных признаков являются разреженными. Для объединения их столбцов нужно воспользоваться функцией scipy.sparse.hstack.

In [6]:
for i in range(train_data.shape[0]):
    train_data['FullDescription'][i] = train_data['FullDescription'][i].lower()
train_data['FullDescription'] = train_data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [7]:
vectorizer = TfidfVectorizer(min_df = 5, max_df=100000000)
train_full = train_data['FullDescription']
train_full_vect = vectorizer.fit_transform(train_full)

In [8]:
train_data['LocationNormalized'].fillna('nan', inplace=True)
train_data['ContractTime'].fillna('nan', inplace=True)

In [9]:
for i in range(test_data.shape[0]):
    test_data['FullDescription'][i] = test_data['FullDescription'][i].lower()
test_data['FullDescription'] = test_data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [10]:
test_full = test_data['FullDescription']
test_full_vect = vectorizer.transform(test_full)

In [11]:
enc = DictVectorizer()
X_train_categ = enc.fit_transform(train_data[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(test_data[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [12]:
X = hstack([train_full_vect, X_train_categ])
X_test = hstack([test_full_vect, X_test_categ])

## 3. Обучите гребневую регрессию с параметрами alpha=1 и random_state=241.

Целевая переменная записана в столбце SalaryNormalized.

In [13]:
clf = Ridge(alpha = 1.0, random_state = 241)
clf.fit(X, train_data['SalaryNormalized'])

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=241, solver='auto', tol=0.001)

## 4. Постройте прогнозы для двух примеров из файла salary-test-mini.csv.

Значения полученных прогнозов являются ответом на задание. Укажите их через пробел.

In [14]:
print(round(clf.predict(X_test)[0], 2), round(clf.predict(X_test)[1], 2))

56555.62 37188.32