In [1]:
import pandas as pd
import numpy as np

## 1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.

In [2]:
data = pd.read_csv('C:\\Users\\kvanc\\coursera\\files\\titanic.csv')

## 2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

In [10]:
x = data.loc[:, ["Pclass", "Fare", "Age", "Sex"]]
x.head()

   Pclass     Fare   Age     Sex
0       3   7.2500  22.0    male
1       1  71.2833  38.0  female
2       3   7.9250  26.0  female
3       1  53.1000  35.0  female
4       3   8.0500  35.0    male

## 3. Обратите внимание, что признак Sex имеет строковые значения.

In [18]:
x['Sex'] = x['Sex'].replace("female", 0).replace("male", 1)

## 4. Выделите целевую переменную — она записана в столбце Survived.

In [19]:
y = data['Survived']

## 5. В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст.

Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [21]:
x = x.dropna()
y = y[x.index]

## 6. Обучите решающее дерево с параметром random_state = 241 и остальными параметрами по умолчанию.

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
clf = DecisionTreeClassifier(random_state = 241)

In [24]:
clf.fit(x, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=241, splitter='best')

## 7. Вычислите важности признаков и найдите два признака с наибольшей важностью.

Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен).

In [25]:
importances = clf.feature_importances_

In [26]:
importances

array([0.14000522, 0.30343647, 0.2560461 , 0.30051221])

In [27]:
print(list(zip(x.columns, clf.feature_importances_)))

[('Pclass', 0.1400052185312419), ('Fare', 0.3034364695314525), ('Age', 0.2560461009790662), ('Sex', 0.30051221095823943)]